* { margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to top, blue, rgb(22, 22, 185), rgb(40, 40, 216), rgb(67, 67, 230));
}

main {
    background-color: white;
    width: 400px;
    height: 300px;
    padding: 20px;
    margin: 0 auto;
    border-radius: 20px;
    text-align: center;
}

header {
    text-align: center;
    padding-bottom: 50px;
    color: rgb(255, 255, 255);
}

p {
    text-align: center;
    font-size: 1.5em;
}

section {
    background-color: rgb(255, 255, 255);
    width: 440px;
    height: 220px;
    margin: 0 auto;
    padding-top: 12px;
    border-radius: 20px;
}

section > form {
    width: 400px;
    background-color: rgb(175, 148, 238);
    margin: 0 auto;
    text-align: center;
    height: 197px;
    border-radius: 20px;
   
}
section > form > label {
    display: block;
    text-align: left;
    padding: 12px 0px 0px 20px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;

}

section > form > input {
    display: block;
    margin: 0 auto;
    width: 90%;
    font-size: 15px;
}

section > form > input.input1 {
    padding: 10px;
    border-radius: 5px;
    border: 0px solid black;
}

section > form > input#jk {
    margin-top: 10px;
    background-color: rgb(0, 255, 55);
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    color: white;
    border-radius: 10px;
    border: 1px solid black;
    
}

